@import '../../themes/theme';

.header{
  display: flex;
  justify-content: space-between;
  padding: 25px 100px;
  background: $blue-900;
  color: $white-100;
  
  .logo{
    font-size: $font-size-500;
    font-family: $font-family;
  }
  .nav a{
    padding: 0px 10px;
    font-family: $font-family;
  }
}