@import '../../themes/theme';

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  // background: $blue-900;
  font-weight: $font-weight-bold;
  
  .logo{
    font-size: $font-size-500;
    font-family: $font-family;
  }
  .nav {
     padding-top: 5px;
    a{
      padding: 0px 10px;
      font-family: $font-family;
      font-size: $font-size-300;
    }
  }
  
}